/*Header Area -- Nav Bar*/
.header{
    display: flex;
    border: red 1px solid;
    height: 8em;
    width: 100%;
}
#headerIndextitelArea{
    border: green 1px solid;
    height: 30%;
    width: 20%;
    float: left;
    text-align: center;
    align-self: center
}
#headerIndextitelArea span{
    color: #e63746;
}
.headerNavbar{
    display: flex;
    border: blue 1px solid;
    height: 70%;
    width: 80%;
    float: right;
    align-self: center;
}