.lowestDiv {
    display: flex;
    justify-content: center;
}

.syntaxTextBox {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1em;
}

.codeBox {
    background-color: #2a2a2a;
    border: 3px solid black;
    padding: 1em;
    margin: 5em;
    width: auto;
}